<template>
  <q-drawer
    :model-value="value"
    @input="$emit('update:value', $event)"
    @hide="$emit('update:value', false)"
    @show="$emit('update:value', true)"
    side="left"
    overlay
    behavior="mobile"
    elevated
  >
    <q-toolbar>
      <q-btn
        dense
        flat
        round
        icon="menu"
        @click="$emit('update:value', false)"
      />

      <q-toolbar-title>
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo-v2/svg/logo.svg" />
        </q-avatar>
        TestWork12071769
      </q-toolbar-title>
    </q-toolbar>

    <q-list>
      <q-item :to="{ name: 'products-list' }" clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="storefront" />
        </q-item-section>
        <q-item-section>
          Список товаров
        </q-item-section>
      </q-item>
      <q-item :to="{ name: 'login' }" clickable v-ripple>
        <q-item-section avatar>
          <q-icon name="login" />
        </q-item-section>
        <q-item-section>
          Войти
        </q-item-section>
      </q-item>
    </q-list>
  </q-drawer>
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean
    }
  }
}
</script>

<style></style>
